

.see-more{
    width: 200px;
    margin: auto;
}

.working-section{
    background:#289BDE;
}
.working-img{
    width: 80%;
    height: 80%;
}

.join-us{
    background-color: #289BDE;
    padding: 40px;
    color: #fff;
}

.register-now{
    color: #289BDE;
    padding: 12px;
    border: none;
    font-weight: bold;
    border-radius: 7px;
    
}

.item img{
    width: 80px;
}
.footer-content{
    color: #fff;
}

.footer-main{
    margin-bottom: -50px;  
}

.div-footer-icons i{
    cursor: pointer;
    transform: 0.4s;
    font-size: 18px;
}

.div-footer-icons i:hover{
    color: #289BDE;
    font-size: 22px;
}

.explore-bg{
    background-color: #ceebfcb0;
}
/* Media Query section*/

@media only screen and (max-width: 576px) {
    .courses img{
        width: 99%;
        height: 250px;
    }
  }


 